In [1]:
#Q1
import pandas as pd

# create a series with the given data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2
# create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# convert the list to a Pandas Series
my_series = pd.Series(my_list)

# print the series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [3]:
#Q3
# create a dictionary with the given data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Paris', 'London', 'Tokyo']}

# create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
3    David   40     Tokyo

#Q4
In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, where each column can have a different data type (e.g., integer, float, string) and can be named. A DataFrame can be thought of as a collection of Pandas Series, where each Series represents a column of data.

In [4]:
# create a dictionary with some data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Paris', 'London']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from the 'Age' column of the DataFrame
age_series = df['Age']

# print the DataFrame and the Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(age_series)

DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [5]:
#Q5
head() and tail(): These functions allow you to view the top and bottom rows of the DataFrame, respectively. For example:
python
Copy code
import pandas as pd

df = pd.read_csv('my_data.csv')
print(df.head()) # view the first 5 rows of the DataFrame
print(df.tail()) # view the last 5 rows of the DataFrame
describe(): This function provides descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. For example:
python
Copy code
import pandas as pd

df = pd.read_csv('my_data.csv')
print(df.describe()) # view descriptive statistics of the DataFrame
groupby(): This function allows you to group the data in the DataFrame based on one or more columns and apply an aggregate function, such as sum, mean, or count. For example:
python
Copy code
import pandas as pd

df = pd.read_csv('my_data.csv')
grouped_df = df.groupby('Category').sum() # group the data by category and calculate the sum of each group
print(grouped_df) # view the grouped DataFrame

SyntaxError: illegal target for annotation (3854301698.py, line 2)

#Q6
In Pandas, both Series and DataFrame are mutable in nature, meaning you can modify their contents, add or remove rows or columns, and update their values.

However, Panel is deprecated in the latest version of Pandas, and its functionality is now provided by the MultiIndex DataFrame. MultiIndex DataFrame is also mutable in nature, like DataFrame and Series.